<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>998460225183-qi7f4buvbpqik84fko26m1kmktahig9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998460225183-qi7f4buvbpqik84fko26m1kmktahig9q</string>
	<key>API_KEY</key>
	<string>AIzaSyDDfJy3VF7kp6-ULJOSNydEnBg9rtUqelQ</string>
	<key>GCM_SENDER_ID</key>
	<string>998460225183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.DesMatsue.OriginalApplication</string>
	<key>PROJECT_ID</key>
	<string>originalapplication-47659</string>
	<key>STORAGE_BUCKET</key>
	<string>originalapplication-47659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:998460225183:ios:250d10ecae400374</string>
	<key>DATABASE_URL</key>
	<string>https://originalapplication-47659.firebaseio.com</string>
</dict>
</plist>